
</div>

<section class="" id="contact">

<script src="https://kit.fontawesome.com/9fbd4d44ef.js" crossorigin="anonymous"></script>
<footer class="footerf" id="footer">
    <div class="essentials">
      <h2 class="connect">Contact</h2>
        <p class="mail"><span><a href="https://mail.google.com/mail"><i class="sos fa-solid fa-envelope"></i></a></span>sarthak2002tyagi@gmail.com
            
            <a href="https://github.com/captain24tyagi"><i class="s1 fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/captain24tyagi/"><span class="s2 fab fa-instagram fa-2x" ></i></a>
            <a href="https://www.linkedin.com/in/sarthak-tyagi-3a8355210/"><i class="s2 fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://twitter.com/Tyagi24Sarthak"><i class="s2 fab fa-twitter fa-2x"></i></a>
        </p>
      <p class="mail"><span><i class="sos fa-brands fa-whatsapp"></i></span>91+ 9868757238</p>
      <p class="mail"><span><a href="https://www.google.co.in/maps/place/Stanza+Living+Essen+House/@13.0231496,80.1716138,14.74z"><i class="sos fa-solid fa-location-crosshairs"></i></a></span>Ramapuram Towers 45, 4, 45, Eswaran Koil St,<br> 
               Giri Nagar, Ramapuram, Chennai,<br> Tamil Nadu 600089, India</p>
    </div>
  </footer> 

</section>
  


</body>
</html>