<%- include('partials/header'); -%> 


<div class="content1">
    
    <h1 class="redf">About Me</h1>
    <p class="intro">Myself Sarthak Tyagi, a web-developer, currently pursuing my B.Tech from SRM Institute of Science and Technology,
        Ramapuram, Chennai, IIIrd year, in computer science and engineering.<br>
        Born and brought up in Delhi, i did my schooling from ASN Senior Secondary School, Mayur vihar, Delhi.
        About me, i just love being surrounded by my friends, to hang out with them and to interact with people
        as much as i can, as it's only through interaction that you can share thoughts and get to know various other things going
        there in the world and how people approach certain set of things and situations. <br>
        I love eating Delhi street food and i miss it the most when i am in Chennai, no doubt and i would 
        proudly like to call myself as "foodie". Apart from all this, i am a type of person who loves to lead and 
        the guy who stongly believes in teamwork, as i believe if someone who can do wonders individually, then a group
        of such individuals can together make phenomenol stuff. A patriot from my childhood, i am always very passionate
        towards Indian Armed Forces, wars, polity etc. <br>
        The secret to my happiness, my motivation, to my everything is music. different kind of music at different
        occassions get me going and brings the best out of me while coding or while preparing up for a test or something.
        
    </p>
    <div class="flex-cont">
      <div class="pic-1">
        <img class="abt1" src ="WhatsApp Image 2022-08-02 at 7.03.58 PM.jpeg">
      </div>
      <div class="pic-2">
        <img class="abt-2" src="WhatsApp Image 2022-08-02 at 8.17.15 PM.jpeg">
      </div>
    </div>
    
    <h1 class="redff">My Interests</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="interests">
            <i class="kk fa-solid fa-table-tennis-paddle-ball"></i>
              <h2 class="int1">Sports</h2>
              <p class="int2">I have also been passionate towards sports. Mainly, cricket and
                football are the two sports which i love the most, and recently i have started to develop an 
                interest in the hockey. A sport always helps you growing as a leader as well as a team man.
                sports can help you learning a lot of thing and also determines your attitude. Sports has helped me in building 
                a elite-class or what we call as "winners mentality".
                And, foremost the joy which you get after winning and the feeling of fightback after lossing help you achieve a lot of things
                and aims to bring the best out of you.
              </p>
          </div>
        </div>
        <div class="carousel-item-1">
          
        </div>
        <div class="carousel-item">
          <div class="interests">
            <i class="kk fa-solid fa-landmark-flag"></i>
            <h2 class="int1">Geopolitics</h2>
            <p class="int2">I was a very bright and passionate right from my teenage at and towards polity.
              Listening to political debates forming an opinion and making speculations was something which i started doing from 
              8th standard and the interest into wars, diplomacy broaden my vision towards geopolitics and i started 
              finding answers by looking into history to the questions which used to come in my mind. During my training
              for Model United Nation(MUNs), i learnt more and more about geopolitics and modern history which made me more curious
              about the world.
            </p>
        </div>
        </div>
        <div class="carousel-item">
          <div class="interests">
            <i class="kk fa-solid fa-compass-drafting"></i>
            <h2 class="int1">Designing</h2>
            <p class="int2">After entering into college, my interest towards designing has increased, especially
              after the reviews which i got from my friends. I was always good at art and craft and had always been a creative
              individual. I love designing the prototypes and ppt's for various college presentations and project
              work. Designing is all about creativity and putting forward your thoughts on the paper or on screen.
            </p>
        </div>
        </div>
        <div class="carousel-item">
          <div class="interests">
            <i class="kk fa-solid fa-code"></i>
            <h2 class="int1">  Coding</h2>
            <p class="int2">I was the guy who used to hate code and coding the most, but web development helped me developing
              an interest towards coding which helped me in developing an interest in competetive coding as well. Coding is 
              just like famous game "sudoku" the more you code the more you understand and more sharply your brain works. It is something
              which not only improves our maths but tests our logic as well.

            </p>
        </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  


  </div>
  



<%- include('partials/footer'); -%> 