<%- include('partials/header'); -%> 

<div class="flex-container">
    <div class="content">
      <p class="heading">This Is Me</p>
      <h1 class="redf">Sarthak Tyagi</h1>
      <p class="intro">Hey, Sarthak this side. <br>
        Excited to work along with you, together we all gonna make it. <br>
        Now without taking your any time, i would like you to scroll through
        my website, in order to explore my side.
        </p>
      <img class="imag1" src="WhatsApp Image 2022-07-28 at 8.16.21 PM.jpeg">
    </div>
    <div class="image">
      <img class="imag" src="WhatsApp Image 2022-05-27 at 1.26.40 PM.jpeg">
      <p class="heading-1">About Me</p>
      <h1 class="pers">Personal Details</h1>
      <p class="intro-1">
        Age: 20 <br>
        Nationality: Indian <br>
        Date of Birth: February 24, 2002 <br>
        E-mail: sarthak2002tyagi@gmail.com <br>
        Phone: 91+ 9868757238 <br>
      </p>
      <div class="connect">
        <a href="https://www.instagram.com/captain24tyagi/"><span class="s fab fa-instagram fa-2x" ></i></a>
        <a href=""><i class="s fab fa-facebook-f fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/sarthak-tyagi-3a8355210/"><i class="s fab fa-linkedin-in fa-2x"></i></a>
        <a href="https://twitter.com/Tyagi24Sarthak"><i class="s fab fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div>
  <h2 class="serv"> My Offered Services </h2>
    <div class="container3 text-center">
      <div class="row">
        <div class="col">
          <i class="icon fa-solid fa-code"></i>
          <h4>Web Development</h4>
          <p class="port">A techie nerd who loves to play with react and node and with 
            front-end flowing in my viens, </p>
        </div>

        <div class="col order-5">
          <i class="icon fa-brands fa-uncharted"></i>
          <h4>NFT creator</h4>
          <p class="port">A buddying NFT creator, who loves to spend time over Opensea and create some random piece
            of digital art.</p>
        </div>
        
        <div class="col order-1">
          <i class="icon fa-solid fa-microphone"></i>
          <h4>Public Speaker</h4>
          <p class="port">"You are Never short of words", that's what my friends say about me, 
            always enthusiastic and ready to start over social and geopolitical topics </p>
        </div>
      </div>
    </div>
  </div>



<%- include('partials/footer'); -%> 