<%- include('partials/header') -%> 


<div class="project">
   <h3 class="headp">Project I: NFT-preview card</h3>
   <p class="parap">My very first front-end development project, and the one which is very close to my heart.
    It is a NFT-preview card component prepared using HTML and CSS. Front-end mentor helped me in prepartion
    of the component by providing me the design and ready made prototypes which provided me with reference for 
    creating the component. For more information<a href="https://github.com/captain24tyagi/Project1-NFT-preview-card">
    Click Here</a>
</p>
<img class="prj1" src="2022-08-04.png">
</div>

<div class="project">
    <h3 class="headp">Project II: Stats preview component</h3>
    <p class="parap">Here, as shown below i have prepared a stats preview component using HTML and CSS. This mini-project was quite testing
     and helped me in dealing with background-image styling and span tag of CSS and HTML respectively. It also involved the use of list tag
     and tend to cover variety of HTML tags which tend to strengthen my hold over HTML and CSS as a begginer.
     For more information<a href="https://github.com/captain24tyagi/Project-II-Stats-preview-card">
     Click Here</a>
 </p>
 <img class="prj1" src="2022-08-07.png">
 </div>

 <div class="project">
    <h3 class="headp">Project III: Chat-app illustration</h3>
    <p class="parap">Chat-app illustration is one of my favourite front-end projects i have ever made. It felt quite
        difficult in the starting and even i was clueless how to present it, but then i started to figure it out. It
        invloved the knowledge of bootstrap as well as CSS grid concept. I love the way how real it looks when i compare
        it with the design which was provided to me for this. For more information<a href="https://github.com/captain24tyagi/Project-III-Chat-app">
        Click Here</a>
 </p>
 <img class="prj1" src="2022-06-05 (3).png">
 </div>

 <div class="project">
    <h3 class="headp">Project IV: Interactive rating component</h3>
    <p class="parap">Interactive rating component is my very project which invloves javascript as well. To prepare the 
        HTML and CSS for this one was not a tedious task, javascript was something which was to be focused upon.
        After successfully completing this challlenge it gave me belief as a front-end developer that i am going
        in a right direction. For more information<a href="https://github.com/captain24tyagi/Project-IV-Rating-card">
        Click Here</a>
 </p>
 <img class="prj1" src="2022-06-05 (1).png">
 
 </div>

 <div class="project">
    <h3 class="headp">Project V: Sign-up form</h3>
    <p class="parap">Sign-up form, a mandatory mini-project for a front-end developer. Sign-up form mainly
        invloved indepth javascript and was easy from HTML and CSS point of view. It was a bit more complex then 
        what i have come across with in the past. After completing this project i got a reality check over my
        javascript knowledge. For more information<a href="https://github.com/captain24tyagi/Project-IV-Rating-card">
        Click Here</a>
 </p>
 <img class="prj1" src="2022-06-05.png">
 </div>
<%- include('partials/footer') -%>