<%- include('partials/header') -%> 

<div class="project5">
    <h1 class="headp">Education</h1>
    <p class="parap">
        <h3 class="headp">Bachelor of Technology</h3>
        <h4 class="hrp">SRM University, Chennai</h4>
        <p class="prp">09/2020 - present</p>
        <p class="prp">GPA - 9.6</p>

        <h3 class="headp">XIIth</h3>
        <h4 class="hrp">ASN Senior Secondary School, Delhi</h4>
        <p class="prp">03/2019 - 03/2020,</p>
        <p class="prp">Percentage- 94.2%</p>

        <h3 class="headp">Xth</h3>
        <h4 class="hrp">ASN Senior Secondary School, Delhi</h4>
        <p class="prp">04/2017 - 04/2018,</p>
        <p class="prp">Percentage- 90%</p>
    </p>
 </div>

 <div class="project6">
    <h1 class="headp">Work Experience</h1>
    <p class="parap">
        <h3 class="headp">Sales Associate</h3>
        <h4 class="hrp">Speak Your Mind Education (SYM)</h4>
        <p class="prp">01/2022 - 04/2022</p>
        <p class="prp">Chennai, India</p>
        <p class="prp">SYM deals with helping people in nourishing their public speaking skills
            and also preparing them for interview process.</p>
        <p class="prp1">Achievements/Tasks</p>
        <p class="prp">
            • Engaged with customers to effectively build rapport and
            lasting relationships! <br>
            • Solved customer challenges by offering relevant products
            and services!<br>
            • Boosted sales by conferring with customers to evaluate
            purchase requirements and recommend best-fit company
            offerings!<br>
            • Maintained records related to sales, returns and inventory
            availability!<br>
        </p>
    </p>

    <p class="parap">
        <h3 class="headp">Co-Lead</h3>
        <h4 class="hrp">CodeChef Club SRM Ramapuram</h4>
        <p class="prp">11/2021 - present</p>
        <p class="prp">Chennai, India</p>
        <p class="prp">College Club whose main aim is to train and nourish individuals in the
            field of tech, by conducting special events and sessions</p>
        <p class="prp1">Achievements/Tasks</p>
        <p class="prp">
            • Leading a group of 20 young minds, coaching them concepts
            of competitive programming! <br>
            • Organised club events and helping the club members to
            grow in an efficient and effective way!<br>
            • Developed effective improvement plans in 2021-22!<br>
            • Coached staff on daily performance and conducted
            evaluations to constructively address concerns!<br>
        </p>
    </p>
</div>

<div class="project5">
        <h1 class="headp">Skills</h1>
        <p class="parap">
            
<p>HTML</p>
<div class="containerb">
  <div class="skills html">90%</div>
</div>

<p>CSS</p>
<div class="containerb">
  <div class="skills css">80%</div>
</div>

<p>NodeJs</p>
<div class="containerb">
  <div class="skills js">60%</div>
</div>

<p>Cpp</p>
<div class="containerb">
  <div class="skills cpp">70%</div>
</div>

<p>React</p>
<div class="containerb">
  <div class="skills react">65%</div>
</div>

<p>MongoDB</p>
<div class="containerb">
  <div class="skills mongodb">60%</div>
</div>


</p>
</div>



<%- include('partials/footer') -%>